package component

import (
	"fmt"
	"strings"
)

type FilePreview struct {
	Index    int
	FileName string
	FileType string
	DataURL  string
}

templ FilePreviewContainer(files []FilePreview) {
	<div id="file-preview" class="flex-1 flex flex-wrap gap-2">
		for _, file := range files {
			<div class="relative group">
				<div class="relative w-16 h-16">
					if strings.HasPrefix(file.FileType, "image/") {
						<img src={ file.DataURL } alt={ file.FileName } class="w-full h-full object-cover rounded-lg">
					} else if strings.HasPrefix(file.FileType, "video/") {
						<video src={ file.DataURL } class="w-full h-full object-cover rounded-lg"></video>
					}
					<button 
						type="button" 
						data-index={ fmt.Sprint(file.Index) }
						onclick="removeFile(this.dataset.index)"
						class="absolute -top-1 -right-1 bg-red-500 text-white rounded-full w-5 h-5 flex items-center justify-center text-xs hover:bg-red-600"
					>
						×
					</button>
				</div>
			</div>
		}
	</div>
} 